
<% @tasks.each do |task| %>
  <h2><%= task.name %></h2>
  <p><%= task.description %></p>
  <p><%= task.complete %></p>
  <%= link_to "Edit", edit_task_path(task) %>
  <%= link_to "Show", task_path(task) %>
  <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>

<h2> <%= link_to "New task", new_task_path %> </h2>

<!--
Should display a list of all tasks and, for each task:
a link to its show view (use a link_to helper)
a link to its edit view
a link to its delete action. Hint: a standard link does not allow to perform DELETE request, so here you should add a method: :delete option to your link_to helper.
Should include a link to the new view to create a new task
 -->

